$black: rgba(0, 0, 0, 1);
$aqua: rgba(0, 149, 217, 1);
$blue-deep: rgba(24, 66, 108, 1);
$blue-light: rgba(174, 219, 242, 1);
$red: rgba(240, 112, 106, 1);
$grey: rgba(196, 196, 196, 1);

$container: 90vw;

$px16: 16px;
$px18: 18px;
$px24: 24px;
$px26: 26px;

$px16-mob: 2.7vw;
$px18-mob: 3vw;
$px24-mob: 4vw;
$px26-mob: 4.3vw;

$light: 300;
$regular: 400;
$bold: 700;

$roboto: "Roboto", sens-serif;
